{% extends 'layout.html'  %}

{%block title%}Contact  {%endblock%}


{%block body %}
<div class="alert alert-success alert-dismissible " role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
        <strong>
           You have Quetion's I have Answers      
        </strong>
       
      </div>
  


<div class="main-container container-fluid my-4">
    <div class="row">
        <div class="col-lg-6 offset-lg-2">

            <!-- THE CONTACT FORM IS HERE -->
                <h2>Contact me!</h2>
                <form action="/contact/" method='post'>{% csrf_token %}
                	<input type="hidden" name="contact" id="contact" value="
                	riLsE42rSAj9Irm7INN78yAnMwz3Z5EwGKv4U7g1nIxoHgZmXXVBxApuiI0SVVY9" >
                    <div class="form-group">
                        <label for="name">Your Name</label>
                        <input type="name" class="form-control" id="name" placeholder="Enter your Name" name="name">
                    </div>
                    <div class="form-group">
                        <label for="email">Your Email</label>
                        <input type="email" class="form-control" id="cemail" placeholder="Enter your Email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="phone">Your Phone Number (with country code)</label>
                        <input type="text" class="form-control" id="phone" placeholder="Enter your Phone Number"
                            name="phone">
                    </div>
                    <div class="form-group">
                        <label for="description">Describe what you want to contact me for here</label>
                        <textarea type="text" class="form-control" id="message" placeholder="Your message" name="message"></textarea>
                    </div>
                    <div class="g-recaptcha" data-sitekey="6LdvcqwUAAAAACmPYNVoiJA7D84xLSQQt5g9p10m"></div>
                    
                    <button type="submit" name="submit" id="submit"  class="btn btn-danger mt-2 " >Submit</button>
                </form>
            
        </div>
       
{% endblock %}

{% block js %}
 
 <script>

$('#submit')
{% if submit %}
alert('Your Message is submitted We will get in your touch as soon as possible');
document.location ="/";
{% endif %}

</script>   
{% endblock %}